* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr .8fr .2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 80%;
    max-width: 1000px;
    height: 600px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    
    
}

/* Box-specific background colors */
.red {
    background-color: rgb(192, 9, 90);
    border-top-left-radius: 15px;
    grid-row-start: 1;
    grid-row-end: 3;
    
}

.beige {
    background-color: #F6D7B0;
    grid-column-start: 2;
    grid-column-end: 4;
    color: #1C1C1C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.violet {
    background-color: #B2A4FF;
    border-top-right-radius: 15px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: -4;
    grid-row-end: -2;
}

.black {
    background-color: #262626;
    font-family:  cursive;
    font-size: 2.5rem;
    grid-column-start: 2;
    grid-column-end: 4;
    color: white;
}

.green {
    background-color: #B5E48C;
    color: black;
    
    border-bottom-left-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    border-bottom-left-radius: 15px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.peach {
    background-color: #FAD4B0;
    color: black;
    font-family: sans-serif;
    border-bottom-right-radius: 15px;
    grid-column-start: 3;
    grid-column-end: 5;
}

.icon {
    width: 50px;
    height: 50px;
}